{#
/**
 * @file
 * Template for page that list all the articles
 *
 * Available variables (needed for the test):
 * - news_by_slug: The variable for the article page. This variable the following content:
 *   - id: the id of the article.
 *   - date: the date of the article.
 *   - title: the title of the article.
 *   - slug: the slug used for the url.
 *   - location: where rhe article happened.
 *   - text: long text with the HTML of the article.
 *   - images: array of images. Can be empty.
 *
 * And any other variable from the parent templates.
 */
#}
{% extends 'base.twig' %}

{% block content %}

    <h1 class="mt-3">{{ news_by_slug.title }}</h1>

    <div class="clearfix">
        <p class="float-sm-right text-muted">{{ news_by_slug.date }}</p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            {% if news_by_slug.images[0] is not empty %}
                <img class="card-img-top" src="{{ news_by_slug.images[0]|first }}" alt="{{news_by_slug.location}}">
            {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/800x600/000000/999DAO?text=TestImage1">
            {% endif %}
        </div>
        <div class="col-sm-8">
            {{ news_by_slug.text|raw }}
        </div>
    </div>

{% endblock %}